{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
    <h1 class="text-center">圖書館資訊設備維護檢修系統</h1>
    <a type="button" class="btn btn-primary btn-lg btn-block" href="/place">設備維護檢視</a>
    <a type="button" class="btn btn-primary btn-lg btn-block" href="/examine">設備檢視狀態</a>
    <a type="button" class="btn btn-primary btn-lg btn-block" href="/status">狀態</a>
</div>
{% for message in messages %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
       {{ message }}
</div>
{% endfor %}
{% endblock %}