{% extends "header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>設備紀錄</h1>
  <form method="POST">
      {% csrf_token %}
  <table class="table">
    <tbody>
      <tr scope="row">
        <th>編號</th>
        <td><input type="text" class="border-0" name="machine_id" value="{{ machine_id }}" readonly="readonly" /></td>
      </tr>
      <tr scope="row">
        <th>位置</th>
        <td><input type="text" class="border-0" name="machine_area" value="{{ machine_area }}" readonly="readonly" /></td>
      </tr>
      <tr scope="row">
        <th>狀態</th>
        <td><input type="text" class="border-0" name="status" value="{{ records }}" readonly="readonly" /></td>
      </tr>
      <tr scope="row">
        <th>今天紀錄</th>
        <td>
            <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="status_update">
                {% for status in status_list %}
                    {{ status }}
                    {{ records }}
                    {% if status == records %}
                        <option selected value="{{ records }}">{{ records }}</option>
                    {% else %}
                        <option value="{{ status }}">{{ status }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr scope="row">
        <th>備註</th>
        <td>
            <input type="text" name="note" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </td>
       </tr>
    </tbody>
    </table>
  <button type="submit" class="btn btn-primary btn-lg btn-block">紀錄</button>
  </form>

</div>

{% endblock %}